<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <%= nav_link 'Daniel & Jennifer', root_path %>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hochzeitsgalerie <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <%= nav_link 'Alle Gallerien im Überblick', galleries_path, 'dropdown' %>
          <li class="divider"></li>
          <% Gallery.all.each do |g| %>
              <%= nav_link g.name, gallery_path(g) %>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <% if user_signed_in? %>
          <li><%= link_to 'Willkommen ' + current_user.email + ' (Abmelden)', destroy_user_session_path, :method => :delete %></li>
      <% else %>
          <li><%= nav_link 'Login', new_user_session_path %></li>
      <% end %>

    </ul>
  </div>
</div>
<%= render_breadcrumbs %>